body {
  font: 10pt Helvetica, Arial, sans-serif;
}

.nav {
  position: fixed;
  overflow: auto;
  top: 1em;
  bottom: 1em;
  left: 1em;
  width: 20em;
}

.body {
  margin-left: 22em;
}

h1 {
  font: 16pt 'Courier New';
  font-weight: bold;
}

h2 {
  font: 14pt 'Courier New';
}
