body {
  margin: 0px;
  font-size: 12pt;
  font-weight: 300; }

.wf-loading body, .wf-inactive body {
  font-family: Arial, sans-serif; }

.wf-active body {
  font-family: "museo-sans"; }

.top-wrapper {
  background-color: #1dafec; }

.wf-loading .top-wrapper, .wf-inactive .top-wrapper {
  font-family: Arial, sans-serif; }

.wf-active .top-wrapper {
  font-family: "museo-slab"; }

.header {
  overflow: hidden; }

.header-main, .header-main-right {
  padding: 8px; }

.header-main-right {
  float: right; }

.header h1 {
  padding: 8px;
  color: white; }

.logo {
  display: inline-block;
  float: left;
  font: 18px;
  text-decoration: none;
  color: white;
  letter-spacing: -1px; }

.reflink {
  margin-right: 8px; }

.intro-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
  color: white; }

.intro {
  display: inline-block;
  text-align: left;
  max-width: 640px;
  padding-right: 16px; }

.outer {
  margin: 0px 5% 8px 5%; }

.year {
  margin-bottom: 96px;
  position: relative; }
  .year > .year-header {
    font-weight: 700;
    font-size: 64px;
    color: #888; }

.wf-loading .year, .wf-inactive .year {
  font-family: Arial, sans-serif; }

.wf-active .year {
  font-family: "museo-slab"; }

.year:nth-child(odd) {
  text-align: left;
  padding-left: 96px; }
  .year:nth-child(odd) .year-header {
    text-align: left;
    position: absolute;
    left: -40px;
    top: 64px;
    -webkit-transform: rotate(-90deg); }

.year:nth-child(even) {
  text-align: right;
  padding-right: 96px; }
  .year:nth-child(even) .year-header {
    text-align: right;
    position: absolute;
    right: -40px;
    top: 64px;
    -webkit-transform: rotate(90deg); }

.article {
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-size: cover;
  text-decoration: none;
  width: 256px;
  height: 256px;
  margin: 8px; }

.date {
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: 0;
  padding: 4px;
  margin-right: 32px;
  color: white;
  background-color: black;
  opacity: 0.75; }

.title {
  font-weight: 700;
  position: absolute;
  bottom: 4px;
  right: 0;
  padding: 4px;
  margin-left: 32px;
  color: white;
  background-color: black;
  opacity: 0.75; }

#disqus_thread {
  margin: 32px 8px 8px 5%; }

table td {
  padding-left: 16px;
  padding-right: 16px; }

.syntaxhighlighter, code {
  font-size: 15px; }
