body {
  font: 10pt Helvetica, Arial, sans-serif;
}

.nav {
  background-color: #888;
  padding: 0.5em;

  position: fixed;
  overflow: auto;
  text-align: right;
  left: 0; right: 0;
  top: 0;
  height: 4em;
  z-index: 999;
}

.nav-left {
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-right {
  float: right;
}

h1, .navlink {
  font: 16pt 'Courier New';
  font-weight: bold;
}

.body {
  margin-top: 5em;
}

h2 {
  font: 14pt 'Courier New';
}

div.content {
  -webkit-column-count: 2;
}

@media screen and (max-width: 1024px) {
  div.content {
    -webkit-column-count: 1;
  }
}
