@font-face {
  font-family: 'MinionPro';
  src: url("/fonts/MinionPro.woff") format('woff'), url('/fonts/MinionPro.ttf') format('truetype'); }
@font-face {
  font-family: 'MinionProItalic';
  src: url("/fonts/MinionProItalic.woff"); }
@font-face {
  font-family: 'MinionProBold';
  src: url("/fonts/MinionProBold.woff"); }
@font-face {
  font-family: 'MinionProBoldItalic';
  src: url("/fonts/MinionProBoldItalic.woff"); }

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;

  font-family: MinionPro;
  font-size: 18px;
}

.textFormat {
  text-align: justify;
  padding: 8px;
}

.page {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

// Trick to make the last line justify correctly.
.page:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.page.dark {
  background-color: black;
  color: #ccc;
}

.controls {
  position: absolute;
  left: 0; right: 0;
  top: 0; height: 128px;
  background-color: gray;
}

.controls .colorButton {
}

.controls .positionText {
}

.controls .slider {
  display: block;
  width: 90%;
}
